* {
   margin: 0;
   padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
body {
   font-family: 'Poppins', sans-serif;
}
h1 {
   font-size: 60px;
}
h2 {
   font-size: 40px;
}
.full-container {
   width: 100%;
}
.container {
   max-width: 1320px;
   width: 100%;
   margin-right: auto;
   margin-left: auto;
}
.row {
   display: flex;
   flex-wrap: wrap;
}
.justify-content-center {
   justify-content: center;
}
.align-items-center {
   align-items: center;
}
.col-4 {
   flex: 0 0 33%;
   max-width: 30%;
}
.col-6 {
   flex: 0 0 50%;
   max-width: 50%;
}

.img-fluid {
   max-width: 100%;
   height: auto;
}
.ptb-100 {
   padding-top: 100px;
   padding-bottom: 100px;
}
.prl-10 {
   padding: 0px 10px;
}
.pr-20 {
   padding-right: 20px;
}
.pl-20 {
   padding-left: 20px;
}
.pt-20 {
   padding-top: 20px;
}
.pb-30 {
   padding-bottom: 30px;
}
p {
   font-size: 18px;
   text-align: justify;
   line-height: 1.5;
}
.text-center {
   text-align: center;
}
.thm-btn {
   text-decoration: none;
   background-color: #ec4c7a;
   color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
}

.hero-section,
.testimonial-section {
   background-image: url(/img/background/header-bg.png);
   background-size: cover;
   background-repeat: no-repeat;
}
.hero-section .name-dec {
   font-size: 70px;
   color: #ec4c7a;
}
.biography-section {
   background-image: url(/img/background/biography-bg.png);
   background-size: cover;
   background-repeat: no-repeat;
}
.work-section .work {
   padding: 0 10px;
}
.testimonial-section p:not(.comment) {
   text-align: center;
}
.testimonial-section .name-title {
   padding: 50px 0;
}
.testimonial-section .name-title .name {
   font-weight: bold;
   font-size: 20px;
}
.testimonial-section .name-title .title {
   color: gray;
}
.testimonial-section .contact {
   background: linear-gradient(90deg, rgb(240, 124, 144), rgb(238, 63, 92));
   padding: 30px;
   border-radius: 5px;
   color: #fff;
   margin-top: 50px;
}

@media screen and (max-width: 520px) {
   .col-6,
   .col-4 {
      flex: 0 0 96%;
      max-width: 96%;
      padding: 0 2%;
   }
   .mb-sm-10 {
      margin-bottom: 10px;
   }
}
